{{> confirm_deactivate_modal }}
<div class="row my-3">
  <div class="col">
    <div class="table-responsive">
      <table id="table-users" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID v databázi</th>
            <th scope="col">ID klávesnice</th>
            <th scope="col">Jméno</th>
            <th scope="col">E-mail</th>
            <th scope="col">Dodavatel</th>
            <th scope="col">Admin</th>
            <th scope="col">Denní report</th>
            <th scope="col">ID Login</th>
            <th scope="col">Karta</th>
            <th scope="col">Akce</th>
          </tr>
        </thead>
        <tbody>
          {{# each users }}
          <tr {{#if this.disabled}} class="subdue-50" {{/if}}>
            <td>
              {{ this._id }}
            </td>
            <td>
              <input type="text" class="form-control realtime-keypad" data-user="{{ this._id }}" data-property="keypad"
              minlength="1" maxlength="5" {{#if this.keypadId}} value="{{ this.keypadId }}" {{/if}} required>
            </td>
            <td>
              {{ this.displayName }}
            </td>
            <td>
              {{ this.email }}
            </td>
            <td>
              <input class="form-check-input realtime-checkbox" type="checkbox" data-user="{{ this._id }}" data-property="supplier" title="Supplier" placeholder="Checkbox"
              {{#if this.supplier}}
              checked>
              <span class="d-none">Ano</span>
              {{else}}
              >
              <span class="d-none">Ne</span>
              {{/if}}
            </td>
            <td>
              <input class="form-check-input realtime-checkbox" type="checkbox" data-user="{{ this._id }}" data-property="admin" title="Admin" placeholder="Checkbox"
              {{#if this.admin}}
              checked>
              <span class="d-none">Ano</span>
              {{else}}
              >
              <span class="d-none">Ne</span>
              {{/if}}
            </td>
            <td>
              {{#if this.sendDailyReport }}
              Povolen
              {{else}}
              Zakázán
              {{/if}}
            </td>
            <td>
              {{#if this.keypadDisabled }}
              Zakázán
              {{else}}
              Povolen
              {{/if}}
            </td>
            <td>
              <input type="text" class="form-control realtime-card" data-user="{{ this._id }}" data-property="card"
              placeholder="ZAK123" minlength="6" {{#if this.card}} value="{{ this.card }}" {{/if}} required>
            </td>
            <td>
              <button type="button" class="btn btn-danger float-right w-100" onclick="showConfirm('{{ this._id }}')">Deaktivovat</button>
              <form id="deactivate_{{ this._id }}" class="needs-validation h-100" method="POST" action="/admin_users" novalidate>
                <input type="hidden" name="name" value="deactivate">
                <input type="hidden" name="user" value="{{ this._id }}">
                <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{> datatables }}

<script src="/javascripts/admin_users.js"></script>