{{> confirm_storno_modal }}
<div class="row my-3">
  <div class="col">
    <div class="table-responsive">
      <table id="table-orders" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Číslo objednávky</th>
            <th scope="col" class="d-none">Časové razítko</th>
            <th scope="col">Datum a čas</th>
            <th scope="col">Produkt</th>
            <th scope="col">Cena</th>
            <th scope="col">Zákazník</th>
            <th scope="col">Dodavatel</th>
            <th scope="col">Způsob</th>
            <th scope="col">Akce</th>
          </tr>
        </thead>
        <tbody>
          {{# each orders }}
          <tr>
            <td>
              {{ this._id }}
            </td>
            <td class="d-none">
              {{ this.order_date }}
            </td>
            <td>
              {{ this.order_date_format }}
            </td>
            <td>
              {{ this.productName}}
            </td>
            <td>
              {{ this.price}}
            </td>
            <td>
              {{ this.buyer }}
            </td>
            <td>
              {{ this.supplier }}
            </td>
            <td>
              {{#if this.keypadOrder }}
              Klávesnice
              {{else if this.scannerOrder }}
              Skener
              {{else}}
              E-Shop
              {{/if}}
            </td>
            <td>
              <button type="button" class="btn btn-danger float-right w-100" onclick="showConfirm('{{ this._id }}')">Stornovat objednávku</button>
              <form id="storno_{{ this._id }}" class="needs-validation h-100" method="POST" action="/storno" novalidate>
                <input type="hidden" name="name" value="storno">
                <input type="hidden" name="order" value="{{ this._id }}">
                <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{> datatables }}

<script src="/javascripts/orders.js"></script>
<script src="/javascripts/admin_orders.js"></script>