{{#if alert}}
  <div
    class='alert alert-{{alert.type}} alert-dismissible fade show'
    role='alert'
    id='alert'
  >
    <strong class='alert-heading mb-0'>
      {{#if alert.success}}
        <i class='fa-solid fa-check-circle'></i>
        Úspěch
      {{else if alert.warning}}
        <i class='fa-solid fa-exclamation-triangle'></i>
        Varování
      {{else if alert.danger}}
        <i class='fa-solid fa-exclamation-circle'></i>
        Chyba
      {{else if alert.info}}
        <i class='fa-solid fa-info-circle'></i>
        Info
      {{/if}}
    </strong>
    {{alert.message}}
    <button
      type='button'
      class='btn-close'
      data-bs-dismiss='alert'
      aria-label='Close'
    ></button>
  </div>
{{/if}}