{{> title title="Aktualizace stavu platby faktury" }}

{{! Single column template }}
<table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

  <tr>
    <td align='center' valign='top'>

      <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>

        {{! 1st row - text }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{! Single column template }}
            <table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

              <tr>
                <td align='center' valign='top'>

                  <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>
                    <tr>

                      {{! Middle column }}
                      {{#if paid}}
                        <td align='left' valign='top'>
                          <p>Vážený dodavateli,</p>
                          <p>zákazník <b>{{customerDisplayName}}</b> označil Vámi vystavenou fakturu ze dne <b>{{invoiceDate}}</b> za uhrazenou v plné výši <b>{{invoiceTotalCost}} Kč</b>.</p>
                          <p>Pokud nedošlo k platbě v hotovosti, zkontrolujte prosím stav Vašeho bankovního účtu a po obdržení potvrďte platbu i ze své strany.</p>
                          <p>Děkujeme za Vaši ochotu dodávat produkty a přejeme Vám mnoho úspěchů.</p>
                        </td>
                      {{else}}
                        <td align='left' valign='top'>
                          <p>Vážený dodavateli,</p>
                          <p>zákazník <b>{{customerDisplayName}}</b> odvolal své potvrzení o platbě u Vámi vystavené faktury ze dne <b>{{invoiceDate}}</b>, která je nepotvrzená i z Vaší strany a tím ji uvedl opět do úvodního neuhrazeného stavu.</p>
                          <p>Zkontrolujte prosím, zda jste od zákazníka skutečně částku <b>{{invoiceTotalCost}} Kč</b> neobdržel a dohodnodněte si se zákazníkem potřebné kroky pro napravení vzniklé situace.</p>
                          <p>Děkujeme za Vaši ochotu dodávat produkty a přejeme méně takových problémů.</p>
                        </td>
                      {{/if}}

                    </tr>
                  </table>

                </td>
              </tr>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

            </table>
          </td>

        </tr>

        {{! 2nd row - info }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{! Single column template }}
            <table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

              <tr>
                <td align='center' valign='top'>

                  <table width='300' cellpadding='0' cellspacing='0' border='0' class='container'>
                    <tr>

                      {{! Middle column }}
                      <td align='left' valign='top'>
                        <table width='100%' cellpadding='0' cellspacing='0' border='1' bgcolor='#fff'>
                          <tr>
                            <td align='center' valign='top' colspan='2'>
                              <h3>Detail faktury</h3>
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Datum</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceDate}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Částka</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceTotalCost}}
                              Kč
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Zákazník</b>
                            </td>
                            <td align='left' valign='top'>
                              {{customerDisplayName}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Dodavatel</b>
                            </td>
                            <td align='left' valign='top'>
                              {{supplierDisplayName}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Číslo</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceId}}
                            </td>
                          </tr>
                        </table>
                      </td>

                    </tr>
                  </table>

                </td>
              </tr>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

            </table>
          </td>

        </tr>

        {{! 3rd row - button }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{!-- Button table partial --}}
            {{#if paid}}
              {{> centerButton label="Potvrdit platbu" baseUrl=baseUrl path="/payments" query="?confirmpayment=" paramValue=invoiceId }}
            {{else}}
              {{> centerButton label="Platby" baseUrl=baseUrl path="/payments" }}
            {{/if}}
          </td>
        </tr>
      </table>

    </td>
  </tr>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

</table>