{{> title title="Hromadná fakturace Vašich objednávek" }}
{{! Single column template }}
<table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

  <tr>
    <td align='center' valign='top'>

      <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>

        {{! 1st row - text }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{! Single column template }}
            <table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

              <tr>
                <td align='center' valign='top'>

                  <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>
                    <tr>

                      {{! Middle column }}
                      {{#if selfInvoiced}}
                        <td align='left' valign='top'>
                          <p>Vážený zákazníku a současně dodavateli,</p>
                          <p>vystavil jste si hromadnou fakturu za všechny dosud nevyfakturované objednávky k datu <b>{{invoiceDate}}</b> v celkové částce <b>{{invoiceTotalCost}} Kč</b>.</p>
                          <p>Abychom Vás ušetřili zbytečných starostí, automaticky jsme Vaši fakturu označili za zaplacenou a na Vás je již pouze sledovat stav plateb od ostatních zákazníků.</p>
                          <p>Přejeme brzké vybrání všech plateb.</p>
                        </td>
                      {{else}}
                        <td align='left' valign='top'>
                          <p>Vážený zákazníku,</p>
                          <p>dodavatel <b>{{supplierDisplayName}}</b> Vám vystavil hromadnou fakturu za všechny dosud nevyfakturované objednávky k datu <b>{{invoiceDate}}</b> v celkové částce <b>{{invoiceTotalCost}} Kč</b>.</p>
                          <p>Prosíme o uhrazení této částky v nejkratším možném termínu. Následně Vás prosíme o potvrzení platby z Vaší strany v našem systému.</p>
                          <p>Předem děkujeme za uhrazení a využívání našich služeb.</p>
                        </td>
                      {{/if}}

                    </tr>
                  </table>

                </td>
              </tr>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

            </table>
          </td>

        </tr>

        {{! 2nd row - info and QR code }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{! Two columns template }}
            <table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

              <tr>
                <td align='center' valign='top'>

                  <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>
                    <tr>

                      {{! Left column }}
                      <td width='300' class='mobile breakpoint' align='center' valign='top'>
                        <table width='100%' cellpadding='0' cellspacing='0' border='1' bgcolor='#fff'>
                          <tr>
                            <td align='center' valign='top' colspan='2'>
                              <h3>Detail faktury</h3>
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Splatnost</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceDueDays}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Datum</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceDate}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Částka</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceTotalCost}}
                              Kč
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Počet</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceTotalCount}}
                              ks
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Zákazník</b>
                            </td>
                            <td align='left' valign='top'>
                              {{customerDisplayName}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Dodavatel</b>
                            </td>
                            <td align='left' valign='top'>
                              {{supplierDisplayName}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Účet</b>
                            </td>
                            <td align='left' valign='top'>
                              {{supplierIBAN}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Číslo</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceId}}
                            </td>
                          </tr>
                        </table>
                      </td>

                      {{! Right column }}
                      <td width='300' class='mobile breakpoint' align='center' valign='top'>
                        <img src='{{qrImageData}}' width='280' height='280'
                          style='margin:0; padding:0; border:none; display:block;' border='0'
                          alt='{{qrText}}' />
                      </td>

                    </tr>
                  </table>

                </td>
              </tr>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

            </table>
          </td>
        </tr>

        {{! 3rd row - button }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{!-- Button table partial --}}
            {{#if selfInvoiced}}
              {{> centerButton label="Platby" baseUrl=baseUrl path="/payments" }}
            {{else}}
              {{> centerButton label="Potvrdit platbu" baseUrl=baseUrl path="/invoices" query="?requestPaid=" paramValue=invoiceId }}
            {{/if}}
          </td>
        </tr>
      </table>

    </td>
  </tr>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

</table>