{{> title title="Upomínka neuhrazené faktury" }}
{{! Single column template }}
<table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

  <tr>
    <td align='center' valign='top'>

      <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>

        {{! 1st row - text }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{! Single column template }}
            <table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

              <tr>
                <td align='center' valign='top'>

                  <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>
                    <tr>

                      {{! Middle column }}
                      <td align='left' valign='top'>
                        <p>Vážený zákazníku,</p>
                        <p>dodavatel
                          <b>{{supplierDisplayName}}</b>
                           od Vás dosud na svém účtu nezaznamenal částku
                          <b>{{invoiceTotalCost}} Kč</b>
                          za fakturu ze dne
                          <b>{{invoiceDate}}</b>.
                        </p>
                        <p>Prosíme o co nejrychlejší uhrazení této částky. Pokud
                          již k úhradě došlo, potvrďte prosím tuto skutečnost v
                          našem systému.</p>
                        <p>Děkujeme za pochopení a těšíme se na další
                          spolupráci.</p>
                      </td>

                    </tr>
                  </table>

                </td>
              </tr>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

            </table>
          </td>

        </tr>

        {{! 2nd row - info and QR code }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{! Two columns template }}
            <table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

              <tr>
                <td align='center' valign='top'>

                  <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>
                    <tr>

                      {{! Left column }}
                      <td width='300' class='mobile breakpoint' align='center' valign='top'>
                        <table width='100%' cellpadding='0' cellspacing='0' border='1' bgcolor='#fff'>
                          <tr>
                            <td align='center' valign='top' colspan='2'>
                              <h3>Detail faktury</h3>
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Upomínka</b>
                            </td>
                            <td align='left' valign='top'>
                              {{noticeCount}}.
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Datum</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceDate}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Částka</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceTotalCost}}
                              Kč
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Dodavatel</b>
                            </td>
                            <td align='left' valign='top'>
                              {{supplierDisplayName}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Účet</b>
                            </td>
                            <td align='left' valign='top'>
                              {{supplierIBAN}}
                            </td>
                          </tr>
                          <tr>
                            <td align='left' valign='top'>
                              <b>Číslo</b>
                            </td>
                            <td align='left' valign='top'>
                              {{invoiceId}}
                            </td>
                          </tr>
                        </table>
                      </td>

                      {{! Right column }}
                      <td width='300' class='mobile breakpoint' align='center' valign='top'>
                        <img src='{{qrImageData}}' width='280' height='280'
                          style='margin:0; padding:0; border:none; display:block;' border='0'
                          alt='{{qrText}}' />
                      </td>

                    </tr>
                  </table>

                </td>
              </tr>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

            </table>
          </td>
        </tr>

        {{! 3rd row - button }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{!-- Button table partial --}}
            {{> centerButton label="Potvrdit platbu" baseUrl=baseUrl path="/invoices" query="?requestPaid=" paramValue=invoiceId }}
          </td>
        </tr>
      </table>

    </td>
  </tr>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

</table>