<form
  id='supplier_add_products'
  class='needs-validation'
  method='POST'
  action='/add_products'
  novalidate
>
  <div class='card mx-3 mx-lg-auto w-lg-75 w-xxl-50'>
    <div class='card-header h4 text-center'>
      <i class='fa-solid fa-dolly'></i>
      Naskladnit
    </div>
    <div class='card-body'>
      <div class='row g-0'>
        <div class='col-md-4 text-center'>
          <img
            src='/images/preview.png'
            alt='Preview'
            id='product_img'
            class='img-fluid form-image-thumbnail'
          />
        </div>
        <div class='col-md-8'>

          {{!  Product selection }}
          <div class='input-group input-group-lg mb-3'>
            <label for='product_id' class='input-group-text'>Produkt</label>
            <select
              name='product_id'
              id='product_id'
              class='form-select'
              onchange='loadProductImage()'
              required
            >
              <option value='' selected>Vyberte ze seznamu..</option>
              {{#each products}}
                <option value='{{this.id}}'>{{this.displayName}}</option>
              {{/each}}
            </select>
          </div>

          {{!  Product amount }}
          <div class='input-group input-group-lg mb-3'>
            <input
              type='number'
              min='1'
              step='1'
              pattern='\d+'
              name='product_amount'
              class='form-control'
              placeholder='Počet'
              aria-label='Počet'
              aria-describedby='product_amount-addon'
              required
            />
            <span class='input-group-text' id='product_amount-addon'>ks</span>
          </div>

          {{!  Product price }}
          <div class='input-group input-group-lg mb-3'>
            <input
              type='number'
              min='1'
              step='1'
              pattern='\d+'
              name='product_price'
              class='form-control'
              placeholder='Cena'
              aria-label='Cena'
              aria-describedby='product_price-addon'
              required
            />
            <span class='input-group-text' id='product_price-addon'>Kč</span>
          </div>

        </div>
      </div>
    </div>
    <!-- End of card-body -->
    <div class='card-footer text-muted'>
      <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
        <a href='/' class='btn btn-danger me-md-2'>Storno</a>
        <input
          type='submit'
          class='btn btn-success float-end'
          value='Naskladnit'
        />
      </div>
    </div>
  </div>
  <input type='hidden' name='_csrf' value='{{csrfToken}}' />
</form>

<script type='text/javascript'>
  var json_data = {
  {{#each products}}
    "{{this.id}}": { "product_image": "{{this.imagePath}}" },
  {{/each}}
  }
</script>

<script
  type='text/javascript'
  src='/javascripts/add_products_imageLoad.js'
></script>
<script type='text/javascript' src='/javascripts/form_validate.js'></script>