<form
  id='supplier_edit_product'
  class='needs-validation'
  method='POST'
  action='/edit_product?_csrf={{csrfToken}}'
  enctype='multipart/form-data'
  novalidate
>
  <div class='card mx-3 mt-3 mx-lg-auto w-lg-75 w-xxl-50'>
    <div class='card-header h4 text-center'>
      <i class='fa-solid fa-cart-arrow-down'></i>
      Upravit produkt
    </div>
    <div class='card-body'>
      <div class='row g-0'>
        <div class='col-md-4 text-center'>
          <img
            src='/images/preview.png'
            alt='Preview'
            id='product_img'
            class='img-fluid form-image-thumbnail'
          />
        </div>
        <div class='col-md-8'>

          {{! Product selection }}
          <div class='input-group input-group-lg mb-3'>
            <label
              for='product_id'
              class='input-group-text w-25'
            >Produkt</label>
            <select
              name='product_id'
              id='product_id'
              class='form-select'
              onchange='loadProductInfo()'
              required
            >
              <option value='' selected>Vyberte ze seznamu..</option>
              {{#each products}}
                <option value='{{this._id}}'>{{this.displayName}}</option>
              {{/each}}
            </select>
          </div>

          {{! Product name }}
          <div class='input-group input-group-lg mb-3'>
            <span
              class='input-group-text w-25'
              id='product_name-addon'
            >Název</span>
            <input
              type='text'
              name='product_name'
              id='product_name'
              class='form-control'
              placeholder='Název'
              aria-label='Název'
              aria-describedby='product_name-addon'
              required
            />
          </div>

          {{! Product description }}
          <div class='input-group input-group-lg mb-3'>
            <span
              class='input-group-text w-25'
              id='product_description-addon'
            >Popis</span>
            <input
              type='text'
              name='product_description'
              id='product_description'
              class='form-control'
              placeholder='Popis'
              aria-label='Popis'
              aria-describedby='product_description-addon'
              required
            />
          </div>

          {{! Image upload }}
          <div class='input-group input-group-lg mb-3'>
            <span
              class='input-group-text w-25'
              id='product_image-addon'
            >Obrázek</span>
            <input
              class='form-control'
              type='file'
              id='product_image'
              name='product_image'
              accept='image/png'
              onchange='readURL(this);'
            />
          </div>

          {{! Category selection }}
          <div class='input-group input-group-lg mb-3'>
            <label
              for='product_category'
              class='input-group-text w-25'
            >Kategorie</label>
            <select
              name='product_category'
              id='product_category'
              class='form-select'
            >
              <option value='' selected>Vyberte ze seznamu..</option>
              {{#each categories}}
                <option value='{{this._id}}'>{{this.name}}</option>
              {{/each}}
            </select>
          </div>

        </div>
      </div>
    </div>
    <!-- End of card-body -->
    <div class='card-footer text-muted'>
      <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
        <a href='/' class='btn btn-danger me-md-2'>Storno</a>
        <input type='submit' class='btn btn-success float-end' value='Uložit' />
      </div>
    </div>
  </div>
  <input type='hidden' name='_csrf' value='{{csrfToken}}' />
</form>

<script>
  var json_data = {
  {{#each products}}
    "{{this._id}}": { "product_name": "{{this.displayName}}",
    "product_description": "{{this.description}}", "product_image": "{{this.imagePath}}",
    "product_category": "{{this.category}}" },
  {{/each}}
  }
</script>

<script src='/javascripts/edit_product_infoLoad.js'></script>
<script src='/javascripts/form_validate.js'></script>