<div class="row">
    <div class="col-xl-4 order-xl-2 mt-3">
        <div class="card text-center mx-auto h-100">
            <div class="card-header h4">
                Celkový přehled
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" class="text-left text-nowrap"><i class="far fa-money-bill-alt" alt="Nevyfakturováno"></i> Celkem k fakturaci</th>
                                <td class="font-weight-bold">{{ productview.total_num_orders_notinvoiced }}ks</td>
                                <td class="font-weight-bold">{{ productview.total_sum_orders_notinvoiced }}Kč</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-left text-nowrap"><i class="fas fa-file-invoice-dollar" alt="Vyfakturováno"></i> Celkem fakturováno</th>
                                <td>{{ productview.total_num_orders_invoiced }}ks</td>
                                <td>{{ productview.total_sum_orders_invoiced }}Kč</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-left text-nowrap"><i class="fas fa-boxes" alt="Sklad"></i> Celkem na skladě</th>
                                <td>{{ productview.total_num_stocked }}ks</td>
                                <td>{{ productview.total_sum_stocked }}Kč</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {{#if supplier.supplierId}}
                    <form id="invoice_all" class="needs-validation" method="POST" action="/invoice" novalidate>
                        <input id="invoice_submit" type="submit" class="btn btn-primary w-100" value="Vyfakturovat">
                        {{#unless user.IBAN}}<a href="/profile" class="btn btn-info w-100"><i class="fas fa-info-circle"></i> Nemáte vyplněný IBAN pro QR platby.</a>{{/unless}}
                    </form>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-xl-4 order-xl-1 mt-3">
        <div class="card text-center mx-auto h-100">
            <div class="card-header h4">
                <button type="button" id="user-swap" class="btn btn-primary py-0"><i class="fas fa-sync-alt" id="user-spin"></i> <span id="user-text">Uživatelé - k fakturaci v Kč</span></button>
            </div>
            <div class="card-body">
                <div class="row"></div>
                <canvas id="perUserSpent"></canvas>                
            </div>
        </div>
    </div>
    <div class="col-xl-4 order-xl-3 mt-3">
        <div class="card text-center mx-auto h-100">
            <div class="card-header h4">
                <button type="button" id="prod-swap" class="btn btn-primary py-0"><i class="fas fa-sync-alt" id="prod-spin"></i> <span id="prod-text">Produkty - k fakturaci v Kč</span></button>
            </div>
            <div class="card-body">
                <div class="row"></div>
                <canvas id="perProductSpent"></canvas>                
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card text-center mx-auto">
            <div class="card-header h4">
                Podrobný přehled
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 pr-xl-none">
        <div class="card text-center mx-auto">
            <div class="card-header h4">
                Produkty - kusy
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th scope="col" class="text-left">Produkt</th>
                            <th scope="col" class="font-weight-bold" data-toggle="tooltip" title="Nevyfakturováno"><i class="far fa-money-bill-alt" alt="Nevyfakturováno"></i></th>
                            <th scope="col" data-toggle="tooltip" title="Vyfakturováno"><i class="fas fa-file-invoice-dollar" alt="Vyfakturováno"></i></th>
                            <th scope="col" data-toggle="tooltip" title="Sklad"><i class="fas fa-boxes" alt="Sklad"></i></th>
                        </thead>
                        <tbody>
                            {{#each productview.stock}}
                            <tr>
                                <th scope="row" class="text-left text-nowrap">{{ this.product.displayName }}</th>
                                <td class="font-weight-bold">{{ this.num_orders_notinvoiced }}ks</td>
                                <td>{{ this.num_orders_invoiced }}ks</td>
                                <td>{{ this.amount_left }}ks</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 pl-xl-none">
        <div class="card text-center mx-auto">
            <div class="card-header h4">
                Produkty - částky
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th scope="col" class="text-left hide-xl">Produkt</th>
                            <th scope="col" class="font-weight-bold" data-toggle="tooltip" title="Nevyfakturováno"><i class="far fa-money-bill-alt" alt="Nevyfakturováno"></i></th>
                            <th scope="col" data-toggle="tooltip" title="Vyfakturováno"><i class="fas fa-file-invoice-dollar" alt="Vyfakturováno"></i></th>
                            <th scope="col" data-toggle="tooltip" title="Sklad"><i class="fas fa-boxes" alt="Sklad"></i></th>
                        </thead>
                        <tbody>
                            {{#each productview.stock}}
                            <tr>
                                <th scope="row" class="text-left hide-xl text-nowrap">{{ this.product.displayName }}</th>
                                <td class="font-weight-bold">{{ this.sum_orders_notinvoiced }}Kč</td>
                                <td>{{ this.sum_orders_invoiced }}Kč</td>
                                <td>{{ this.sum_stocked }}Kč</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card text-center mx-auto">
            <div class="card-header h4">
                Uživatelé - Nevyfakturované objednávky
            </div>
            <div class="card-body">
                <div class="table-responsive text-left">
                    <table class="table" id="table-orders">
                        <thead>
                            <th scope="col">Datum</th>
                            <th scope="col">Jméno</th>
                            <th scope="col">Produkt</th>
                            <th scope="col">Cena</th>
                        </thead>
                        <tbody>
                            {{#each userview}}
                                {{#each orders}}
                                <tr>
                                    <td><span class="d-none">{{ this.order_date }}</span>{{ this.order_date_format }}</th>
                                    <td>{{ ../user }}</td>
                                    <td>{{ this.product.displayName }}</td>
                                    <td>{{ this.price }}Kč</td>
                                </tr>
                                {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel='stylesheet' href='/stylesheets/invoice.css' />
{{!-- Data for graph --}}
<script type="text/javascript">
// User graph
// Dataset spent in Kč
var userDatasetPriceSpent = [
    {{#each userview}}
        {{this.total_user_sum_orders_notinvoiced}},
    {{/each}}
];
// Dataset bought amount
var userDatasetAmountBought = [
    {{#each userview}}
        {{this.total_user_num_orders_notinvoiced}},
    {{/each}}
];
// Labels usernames
var userLabelUsernames = [
    {{#each userview}}
        '{{this.user}}',
    {{/each}}
];
// Colors from color palette
var userColorPalette = [
    {{#each userview}}
        '#{{this.color}}',
    {{/each}}
];

// Product graph
// Dataset spent in Kč
var productDatasetPriceSpent = [
    {{#each productview.stock}}
        {{this.sum_orders_notinvoiced}},
    {{/each}}
];
// Dataset bought amount
var productDatasetAmountBought = [
    {{#each productview.stock}}
        {{this.num_orders_notinvoiced}},
    {{/each}}
];
// Labels usernames
var productLabelUsernames = [
    {{#each productview.stock}}
        '{{this.product.displayName}}',
    {{/each}}
];
// Colors from color palette
var productColorPalette = [
    {{#each productview.stock}}
        '#{{this.color}}',
    {{/each}}
];
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script src="/javascripts/invoice.js"></script>

{{!-- Generated in https://datatables.net/download/ --}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/sc-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/sc-2.0.0/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/natural.js"></script>