<div class="row my-3">
  <div class="col">
    <div class="table-responsive">
      <table id="table-invoices" class="table">
        <thead>
          <th scope="col">Datum</th>
          <th scope="col">Dodavatel</th>
          <th scope="col">Počet kusů</th>
          <th scope="col">Cena celkem</th>
          <th scope="col">Status</th>
          <th scope="col">Akce</th>
        </thead>
        <tbody>
          {{# each invoices }}
          <tr {{#if this.paid}} class="subdue-50" {{/if}}>
            <td>
              <span class="d-none">{{ this.invoiceDate }}</span>{{ this.invoiceDate_format }}
            </td>
            <td>
              {{ this.supplier.displayName }}
            </td>
            <td>
              {{ this.orders_sum }}ks
            </td>
            <td>
              {{ this.totalCost }}Kč
            </td>
            <td>
              {{ this.status }}
            </td>
            <td>
              {{#if this.paid}}
              <span data-bs-toggle="tooltip" data-bs-title="Faktura již byla označena dodavatelem jako uhrazená.">
              <input type="submit" class="btn btn-secondary float-right w-100" value="Uhrazeno" disabled>
                </span>
              {{else}}
              <form id="payments" class="needs-validation h-100" method="POST" action="/invoices" novalidate>
                {{#if this.requestPaid}}
                <input type="submit" class="btn btn-danger float-right w-100" value="Storno">
                <input type="hidden" id="action" name="action" value="storno">
                {{else}}
                <input type="submit" class="btn btn-success float-right w-100" value="Zaplaceno">
                <input type="hidden" id="action" name="action" value="paid">
                {{/if}}
                <input type="hidden" id="invoice_id" name="invoice_id" value="{{ this._id }}">
                <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
              </form>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{> datatables }}

<script src="/javascripts/payments.js"></script>
