{{!-- Kiosk control --}}
<div class="row mt-3">
  <div class="col-lg mb-2">
    <form action="/kiosk_keypad?cancel=1" method="get">
      <input type="submit" value="Zpět" name="Submit" id="Submit"
        class="form-control btn btn-danger btn-block waves-effect">
    </form>
  </div>
  <div class="col-lg mb-2">
    <input type="button" value="{{customer.displayName}}" name="customerName" id="customerName"
      class="form-control btn btn-outline disabled btn-block">
  </div>
  <div class="col-lg mb-2">
    <input type='button' value='3m 00s' name='timer' id='timer'
      class='form-control float-end btn btn-outline disabled btn-block'>
  </div>
</div>
{{#if categories}}
{{!-- Filter by categories --}}
<div class="row">
  <div class="col-lg mb-2">
    <input type="radio" class="btn btn-check" name="product-filter" id="all" onclick="show_all_categories()" checked>
    <label class="form-control btn btn-outline-primary" for="all">Vše</label>
  </div>
  {{#each categories}}
  <div class="col-lg mb-2">
    <input type="radio" class="btn-check" name="product-filter" id="{{this._id}}"
      onclick="filter_categories('{{this._id}}')">
    <label style="white-space: nowrap;" class="form-control btn btn-outline-primary" for="{{this._id}}"><i style="color: {{this.color}};"
        class="fa-solid fa-circle"></i> {{this.name}}</label>
  </div>
  {{/each}}
</div>
{{/if}}
<div class="row">
  {{#each products }}
  <div class="col-12 col-md-6 col-xl-3 col-xxxl-2 equal-gutter collapse show {{#if this.favorite}}order-first{{/if}}" id="{{this._id}}" data-category="{{this.category.0._id}}">
    <form id="shop_buy_product_{{this.stock.0._id}}" class="needs-validation h-100"
      method="POST" action="/kiosk_shop" novalidate>
      <div class="card h-100 text-center">
        <div class="card-header h4 card-header-h4-min-height d-flex align-items-center justify-content-center">
          {{ this.displayName }}
        </div>
        <div style="height: 0.3rem;{{#if this.category.0.color}}background-color:{{this.category.0.color}};{{/if}}">
        </div>
        <div class="card-body">
          <img src="{{ this.imagePath }}" class="mx-auto my-2 img-fluid shop-image-thumbnail"
            alt="{{ this.description }}">
          {{#if this.favorite}}<i class="fa-solid fa-star favorite"></i>{{/if}}
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6 text-start">
              {{#if this.stockSum}}
              <span class="d-inline-block">
                <i class="fa-solid fa-boxes"></i> {{ this.stockSum }}
              </span>
              {{else}}
              <i class="fa-solid fa-boxes"></i> <span class="text-danger">0</span>
              {{/if }}
            </div>
            <div class="col-6 text-end">
              {{#if this.stock.0.price }}
              <div class="btn btn-lg py-0 float-end">{{ this.stock.0.price }} Kč</div>
              <input type="hidden" name="product_price" class="btn" value="{{ this.stock.0.price }}">
              {{/if}}
            </div>
          </div>
          <input type="hidden" name="product_id" value="{{ this.stock.0._id }}">
          <input type="hidden" name="user_id" value="{{ ../user.id }}">
          <input type="hidden" name="customer_id" value="{{ ../customer.keypadId }}">
          <input type="hidden" name="display_name" value="{{ this.displayName }}">
          <input type="hidden" name="image_path" value="{{ this.imagePath }}">
          <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
        </div>
      </div>
    </form>
  </div>
  {{/each}}
</div>

<script src="/javascripts/kiosk_shop.js"></script>
<script src="/javascripts/category_filter.js"></script>