<div class="row my-3">
  <div class="col">
    <div class="card text-center mx-auto h-100">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg">
            <p>Celkem zakoupeno: {{#if orders.totalOrders}}{{orders.totalOrders}}{{else}}0{{/if}}ks</p>
          </div>
          <div class="col-lg">
            <p>Celkem utraceno: {{#if orders.totalSpend}}{{orders.totalSpend}}{{else}}0{{/if}}Kč</p>
          </div>
          <div class="col-lg">
            <p>Nefakturováno: {{#if orders.totalUnpaid}}{{orders.totalUnpaid}}{{else}}0{{/if}}Kč</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row my-3">
  <div class="col">
    <div class="table-responsive">
      <table id="table-orders" class="table">
        <thead>
          <th scope="col">Datum</th>
          <th scope="col">Produkt</th>
          <th scope="col">Cena</th>
          {{#unless admin.buyerId}}
          <th scope="col">Zákazník</th>
          {{/unless}}
          <th scope="col">Dodavatel</th>
          <th scope="col">Způsob</th>
          <th scope="col">Fakturováno</th>
        </thead>
        <tbody>
          {{# each orders.results }}
          <tr>
            <td>
              <span class="d-none">{{ this.order_date }}</span>{{ this.order_date_format }}
            </td>
            <td>
              {{ this.productInfo.displayName}}
            </td>
            <td>
              {{ this.deliveryInfo.price}}Kč
            </td>
            {{#unless ../admin.buyerId}}
            <td>
              {{ this.buyerInfo.displayName }}
            </td>
            {{/unless}}
            <td>
              {{ this.supplierInfo.displayName }}
            </td>
            <td>
              {{#if this.keypadOrder }}
              Klávesnice
              {{else}}
              E-Shop
              {{/if}}
            </td>
            <td>
              {{#if this.invoice }}
              Ano
              {{else}}
              Ne
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{> datatables }}

<script src="/javascripts/orders.js"></script>
