{{!-- <div class="row my-3">
    <div class="col">
        <div class="card text-center mx-auto h-100">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table-sm">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">{{ productview.total_num_orders_notinvoiced }}ks</td>
                                <td class="font-weight-bold">{{ productview.total_sum_orders_notinvoiced }}Kč</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<div class="row my-3">
    <div class="col">
        <div class="card text-center mx-auto h-100">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-lg">
                        <p>Celkem zakoupeno: {{orders.totalOrders}}ks</p>
                    </div>
                    <div class="col-lg">
                        <p>Celkem utraceno: {{orders.totalSpend}}Kč</p>
                    </div>
                    <div class="col-lg">
                        <p>Nefakturováno: {{orders.totalUnpaid}}Kč</p>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<div class="row my-3">
    <div class="col">
        <div class="table-responsive">
            <table id="table-orders" class="table">
                <thead>
                    <th scope="col">Datum</th>
                    <th scope="col">Produkt</th>
                    <th scope="col">Cena</th>
                    {{#unless admin.buyerId}}
                        <th scope="col">Zákazník</th>
                    {{/unless}}
                    <th scope="col">Dodavatel</th>
                    <th scope="col">Způsob</th>
                    <th scope="col">Fakturováno</th>
                </thead>
                <tbody>
                    {{# each orders.results }}
                        <tr>
                            <td>
                                <span class="d-none">{{ this.order_date }}</span>{{ this.order_date_format }}
                            </td>
                            <td>
                                {{ this.productInfo.displayName}}
                            </td>
                            <td>
                                {{ this.deliveryInfo.price}}Kč
                            </td>
                            {{#unless ../admin.buyerId}}
                                <td>
                                    {{ this.buyerInfo.displayName }}
                                </td>
                            {{/unless}}
                            <td>
                                {{ this.supplierInfo.displayName }}
                            </td>
                            <td>
                                {{#if this.keypadOrder }}
                                    Klávesnice
                                {{else}}
                                    E-Shop
                                {{/if}}
                            </td>
                            <td>
                                {{#if this.invoice }}
                                    Ano
                                {{else}}
                                    Ne
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script src="/javascripts/orders.js"></script>

{{!-- Generated in https://datatables.net/download/ --}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/sc-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/fh-3.1.4/r-2.2.2/sc-2.0.0/datatables.min.js"></script>