{{> qr_code_modal }}
<div class="row my-3">
  <div class="col">
    <div class="table-responsive">
      <table id="table-invoices" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Číslo faktury</th>
            <th scope="col" class="d-none">Časové razítko</th>
            <th scope="col">Datum</th>
            <th scope="col">Zákazník</th>
            <th scope="col">Počet kusů</th>
            <th scope="col">Cena celkem</th>
            <th scope="col">Status</th>
            {{#if supplier.supplierId}}<th scope="col">Akce</th>{{/if}}
          </tr>
        </thead>
        <tbody>
          {{# each invoices }}
          <tr {{#if this.paid}} class="subdue-50" {{/if}}>
            <td>
              {{ this._id }}
            </td>
            <td class="d-none">
              {{ this.invoiceDate }}
            </td>
            <td>
              {{ this.invoiceDate_format }}
            </td>
            <td>
              {{ this.buyer.displayName }}
            </td>
            <td>
              {{ this.orders_sum }}
            </td>
            <td>
              {{ this.totalCost }}
            </td>
            <td>
              {{ this.status }}
            </td>
            {{#if ../supplier.supplierId}}
            <td>
              <form id="{{ this._id }}" class="needs-validation h-100" method="POST" action="/payments" novalidate>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group me-2 w-100" role="group" aria-label="First group">
                    <button type="button" class="btn btn-primary" onclick="getQrCode('{{ this._id }}', {{this.paid}})"><i class="fa-solid fa-qrcode"></i></button>
                    {{!-- TODO: <button type="button" class="btn btn-primary"><i class="fa-solid fa-file-invoice-dollar"></i></button> --}}
                      {{#if this.paid}}
                        <input type="hidden" name="action" value="storno">
                        <input type="submit" class="btn btn-danger float-right w-100" value="Odvolat">
                      {{else}}
                        <input type="hidden" name="action" value="approve">
                        <input type="submit" class="btn btn-success float-right w-100" value="Zaplaceno">
                      {{/if}}
                  </div>
                </div>
                <input type="hidden" name="invoice_id" value="{{ this._id }}">
                <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
              </form>
            </td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{> datatables }}

<script src="/javascripts/payments_and_invoices.js"></script>