<div class="row my-3">
  <div class="col">
    <div class="table-responsive">
      <table id="table-invoices" class="table">
        <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Zákazník</th>
            <th scope="col">Počet kusů</th>
            <th scope="col">Cena celkem</th>
            <th scope="col">Status</th>
            {{#if supplier.supplierId}}<th scope="col">Akce</th>{{/if}}
          </tr>
        </thead>
        <tbody>
          {{# each invoices }}
          <tr {{#if this.paid}} class="subdue-50" {{/if}}>
            <td>
              <span class="d-none">{{ this.invoiceDate }}</span>{{ this.invoiceDate_format }}
            </td>
            <td>
              {{ this.buyer.displayName }}
            </td>
            <td>
              {{ this.orders_sum }}ks
            </td>
            <td>
              {{ this.totalCost }}Kč
            </td>
            <td>
              {{ this.status }}
            </td>
            {{#if ../supplier.supplierId}}
            <td>
              <form class="needs-validation h-100" method="POST" action="/payments" novalidate>
                {{#if this.paid}}
                <input type="submit" class="btn btn-danger float-right w-100" value="Odvolat">
                <input type="hidden" name="action" value="storno">
                {{else}}
                <input type="submit" class="btn btn-success float-right w-100" value="Zaplaceno">
                <input type="hidden" name="action" value="approve">
                {{/if}}
                <input type="hidden" name="invoice_id" value="{{ this._id }}">
                <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
              </form>
            </td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{> datatables }}

<script src="/javascripts/payments.js"></script>