<div class="row">
    <div class="col">
        <div class="card w-50 mx-auto w-100-lg">
            <div class="card-header h4 text-center">
                Profil
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-lg-4 col-form-label"><i class="fas fa-keyboard"></i> ID</label>
                        <div class="col-lg-8">
                            <input type="text" readonly class="form-control-plaintext" id="staticKeyPad" value="{{ user.keypadId }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-lg-4 col-form-label">Jméno</label>
                        <div class="col-lg-8">
                            <input type="text" readonly class="form-control-plaintext" id="staticName" value="{{ user.displayName }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-lg-4 col-form-label">E-mail</label>
                        <div class="col-lg-8">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ user.email }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card w-50 mx-auto w-100-lg">
            <div class="card-header h4 text-center">
                Preference
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input realtime-checkbox" id="checkAllProducts" name="checkAllProducts" {{#if user.showAllProducts}} checked {{/if}}>
                            <label class="custom-control-label" for="checkAllProducts">Zobrazovat produkty, které nejsou skladem.</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input realtime-checkbox" id="checkSendEmailEshop" name="checkSendEmailEshop" {{#if user.sendMailOnEshopPurchase}} checked {{/if}}>
                            <label class="custom-control-label" for="checkSendEmailEshop">Odesílat e-mail po nákupu v e-shopu.</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input realtime-checkbox" id="checkSendDailyReport" name="checkSendDailyReport" {{#if user.sendDailyReport}} checked {{/if}}>
                            <label class="custom-control-label" for="checkSendDailyReport">Odebírat denní report nákupů.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if user.supplier}}
<div class="row mt-3">
    <div class="col">
        <div class="card w-50 mx-auto w-100-lg">
            <div class="card-header h4 text-center">
                Dodavatelské nastavení
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg">
                        <div class="input-group" data-toggle="tooltip"
                            title="IBAN musí začínat na CZ a mít celkovou délku 24 znaků.">
                            <div class="input-group-prepend">
                                <div class="input-group-text">IBAN</div>
                            </div>
                            <input type="text" id="realtime-iban" name="realtime-iban" class="form-control"
                                placeholder="CZ1212345678901234567890" pattern="^CZ\d{22}$" minlength="24"
                                maxlength="32" data-toggle="tooltip"
                                title="IBAN musí začínat na CZ a mít celkovou délku 24 znaků."
                                {{#if user.IBAN}}value="{{user.IBAN}}" {{/if}} required>
                            <div class="input-group-append">
                                <div class="input-group-text"><i id="iban-status"
                                        class="fas {{#if user.IBAN}}fa-check-circle{{else}}fa-times-circle{{/if}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
<script type="text/javascript" src="/javascripts/form_validate.js"></script>
<script type="text/javascript" src="/javascripts/user_update_realtime.js"></script>