{{# each products }}
    <div class="row">
        {{# each this }}
            <div class="col-lg-3 py-3">
                <form id="shop_buy_product" class="needs-validation h-100" method="POST" action="/buy_product_form" novalidate>
                    <div class="card h-100 text-center">
                        <div class="card-header h4">
                            {{ this.displayName }}
                        </div>
                        <img src="{{ this.imagePath }}" class="mx-auto my-2 img-fluid shop-image-thumbnail" alt="{{ this.description }}">
                        <div class="card-body">
                            <p class="card-text">{{ this.description }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                {{#if this.stock.0.amount_left}}
                                    <p>Skladem za tuto cenu: {{ this.stock.0.amount_left }}</p>
                                {{else}}
                                    <p>Produkt není skladem.</p>
                                {{/if }}
                            </div>
                            <div class="row">
                                <div class="col-xl">
                                    <div class="input-group mb-3">
                                            {{#if this.stock.0.price }}
                                                <input type="text" name="product_price" class="form-control" value="{{ this.stock.0.price }}" readonly>
                                            {{else}}
                                                <input type="text" class="form-control" value="N/A" disabled>
                                            {{/if}}
                                        <div class="input-group-append">
                                            <span class="input-group-text">Kč</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl">
                                    <input type="submit" class="btn btn-primary float-right" value="Zakoupit" {{#unless this.stock.0.amount_left}} disabled {{/unless}}>
                                </div>
                            </div>
                            <input type="hidden" id="product_id" name="product_id" value="{{ this.stock.0._id }}">
                            <input type="hidden" id="display_name" name="display_name" value="{{ this.displayName }}">
                            <input type="hidden" id="image_path" name="display_name" value="{{ this.imagePath }}">
                        </div>
                    </div>
                </form>
            </div>
        {{/each}}
    </div>
{{/each}}
<script type="text/javascript" src="/javascripts/alert_timeout.js"></script>
<script type="text/javascript" src="/javascripts/form_validate.js"></script>