<section>
  {{# each products }}
  <div class="row">
    {{# each this }}
    <div class="col-lg-3 py-3">
      <form id="shop_buy_product" class="needs-validation h-100" method="POST" action="/shop" novalidate>
        <div class="card h-100 text-center">
          <div class="card-header h4">
            <header>{{ this.displayName }}</header>
          </div>
          <img src="{{ this.imagePath }}" class="mx-auto my-2 img-fluid shop-image-thumbnail"
            alt="{{ this.description }}">
          <div class="card-body">
            {{!-- TODO: hide description https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example --}}
            <p class="card-text">{{ this.description }}</p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6 text-start">
                {{!-- TODO: add tooltip to icons https://getbootstrap.com/docs/4.0/components/tooltips/ --}}
                {{#if this.stockSum}}
                <span class="d-inline-block">
                  <i class="fas fa-boxes"></i> {{ this.stockSum }}
                </span>
                {{else}}
                <i class="fas fa-boxes"></i> <span class="text-danger">0</span>
                {{/if }}
              </div>
              {{#if this.keypadId}}
              <div class="col-6 text-right text-muted">
                <i class="fas fa-keyboard"></i> {{ this.keypadId }}
              </div>
              {{/if}}
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-xl text-start px-0">
                {{#if this.stock.0.price }}
                <div class="btn btn-lg link-no-style py-0">{{ this.stock.0.price }} Kč</div>
                <input type="hidden" name="product_price" class="btn float-left" value="{{ this.stock.0.price }}"
                  readonly>
                {{/if}}
              </div>
              <div class="col-xl text-right px-0">
                <input type="submit" class="btn btn-lg text-button float-right py-0" value="Koupit" {{#unless
                  this.stock.0.amount_left}} disabled {{/unless}}>
              </div>
            </div>
            <input type="hidden" id="product_id" name="product_id" value="{{ this.stock.0._id }}">
            <input type="hidden" id="user_id" name="user_id" value="{{ ../../user.id }}">
            <input type="hidden" id="display_name" name="display_name" value="{{ this.displayName }}">
            <input type="hidden" id="image_path" name="image_path" value="{{ this.imagePath }}">
            <input type="hidden" name="_csrf" value="{{ ../../csrfToken }}">
          </div>
        </div>
      </form>
    </div>
    {{/each}}
  </div>
  {{/each}}
</section>

<script type="text/javascript" src="/javascripts/form_validate.js"></script>